<body>
    <nav style="color:white" class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Contact App</a>
        <form class="form-inline">
            <a class ="btn btn-primary mr-sm-5" href="user/login">Login</a>
            <a class="btn btn-success my-2 my-sm-0" href="user/register">Register</a>
        </form>
    </nav>

    <div style="background-image: url('http://cbs4newsmagazine.com/wp-content/uploads/2010/11/contactus.jpg');
    height:90vh;background-position: center;background-size: contain; background-repeat: no-repeat;">

    </div>
</body>